.selectFilter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;


    select {
        width: 60%;
        margin-bottom: 10px;
        border: 1px solid #ff0000;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}